---
import htmlIcon from './icons/technologies/Html.astro';
import cssIcon from './icons/technologies/Css.astro';
import jsIcon from './icons/technologies/JavaScript.astro';
import tailwindIcon from './icons/technologies/Tailwind.astro';
import reactIcon from './icons/technologies/React.astro';
import dockerIcon from './icons/technologies/Docker.astro';
import awsIcon from './icons/technologies/Aws.astro';
import astroIcon from './icons/technologies/Astro.astro';
import nextIcon from './icons/technologies/Next.astro';
import expressIcon from './icons/technologies/Express.astro';
import nodeIcon from './icons/technologies/Node.astro';

const TAGS = {
    HTML: {
        name: 'HTML',
        // class: 'bg-[#A9D6E0] text-black border-[#575757] border-2',
        // class: 'bg-[#575757] text-white',
        class: 'bg-black text-white',
        icon: htmlIcon,
    },
    CSS: {
        name: 'CSS',
        // class: 'bg-[#575757] text-white',
        class: 'bg-black text-white',
        icon: cssIcon,
    },
    JAVASCRIPT: {
        name: 'JavaScript',
        class: 'bg-black text-white',
        icon: jsIcon,
    },
    TAILWIND: {
        name: 'Tailwind',
        class: 'bg-black text-white',
        icon: tailwindIcon,
    },
    REACT: {
        name: 'React',
        class: 'bg-black text-white',
        icon: reactIcon,
    },
    DOCKER: {
        name: 'Docker',
        class: 'bg-black text-white',
        icon: dockerIcon,
    },
    AWS: {
        name: 'AWS',
        class: 'bg-black text-white',
        // class: 'bg-[#A9D6E0] text-black border-[#575757] border-2',
        icon: awsIcon,
    },
    ASTRO: {
        name: 'Astro',
        class: 'bg-black text-white',
        icon: astroIcon,
    },
    NEXT: {
        name: 'Next.js',
        class: 'bg-black text-white',
        icon: nextIcon,
    },
    EXPRESS: {
        name: 'Express.js',
        class: 'bg-black text-white',
        icon: expressIcon,
    },
    NODE: {
        name: 'Node.js',
        class: 'bg-black text-white',
        icon: nodeIcon,
    },
}

const PROJECTS = [
    {
        title: 'Sitio web 5inco Impro',
        description: 'Sitio web del grupo de improvisación teatral Cinco Impro.',
        link: 'https://cincoimpro.com/',
        github: 'https://github.com/suaviaparicio/5inco_React',
        image: '/projects/proyecto_cinco.webp',
        tags: [TAGS.HTML, TAGS.CSS, TAGS.REACT, TAGS.DOCKER, TAGS.AWS],
    }
]
---

{
    PROJECTS.map(({ title, description, link, github, image, tags}) => (
        <article>
            <h2 class="text-2xl font-semibold mb-2">{title}</h2>
            <p class="text-xl mb-4 text-pretty">{description}</p>
            <img 
                class="rounded mb-2" 
                src={image} 
                alt="Proyecto Cinco Impro">
            <ul class=" flex gap-x-2 flex-row mb-2">
                {tags.map((tag) => (
                    <li>
                        <span class={`flex items-center gap-2 rounded-full text-sm py-1 px-2 ${tag.class}`}>
                            <tag.icon class="size-4"/>
                            {tag.name}
                        </span>
                    </li>
                ))}
            </ul>
        </article>
    ))
}
