---
import htmlIcon from './icons/projects/Html.astro';

const TAGS = {
    HTML: {
        name: 'HTML',
        class: 'bg-[#575757] text-white',
        icon: htmlIcon,
    },
    // CSS: {
    //     name: 'CSS',
    //     class: 'bg-black text-white',
    //     icon: 'https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/CSS3_logo.svg/800px-CSS3_logo.svg.png',
    // },
    // JavaScript: {
    //     name: 'JavaScript',
    //     class: 'bg-black text-white',
    //     icon: 'https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/2048px-Unofficial_JavaScript_logo_2.svg.png',
    // },
    // Tailwind: {
    //     name: 'Tailwind',
    //     class: 'bg-[#38BDF8] text-black',
    //     icon: 'https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Tailwind_CSS_Logo.svg/2048px-Tailwind_CSS_Logo.svg.png',
    // },
    // React: {
    //     name: 'React',
    //     class: 'bg-[#61DBFB] text-black',
    //     icon: 'https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/2300px-React-icon.svg.png',
    // },
    // Docker: {
    //     name: 'Docker',
    //     class: 'bg-black text-white',
    //     icon: 'https://upload.wikimedia.org/wikipedia/commons/thumb/3/3b/Docker_logo.svg/1200px-Docker_logo.svg.png',
    // },
    // AWS: {
    //     name: 'AWS',
    //     class: 'bg-black text-white',
    //     icon: 'https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Amazon_Web_Services_Logo.svg/2048px-Amazon_Web_Services_Logo.svg.png',
    // },
    // Astro: {
    //     name: 'Astro',
    //     class: 'bg-black text-white',
    //     icon: 'https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Astro_Logo.svg/2048px-Astro_Logo.svg.png',
    // },
    // Next: {
    //     name: 'Next.js',
    //     class: 'bg-black text-white',
    //     icon: 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/8e/Nextjs-logo.svg/2048px-Nextjs-logo.svg.png',
    // }
}

const PROJECTS = [
    {
        title: 'Sitio web 5inco Impro',
        description: 'Sitio web del grupo de improvisación teatral Cinco Impro.',
        link: 'https://cincoimpro.com/',
        github: 'https://github.com/suaviaparicio/5inco_React',
        image: '/projects/proyecto_cinco.webp',
        tags: [TAGS.HTML],
        // tags: [TAGS.HTML, 'CSS', 'React', 'Docker', 'Terraform', 'AWS (S3 - ParamStore - CloudFront)'],
    }
]
---

{
    PROJECTS.map(({ title, description, link, github, image, tags}) => (
        <article>
            <h2 class="text-2xl font-semibold mb-2">{title}</h2>
            <p class="text-xl mb-4 text-pretty">{description}</p>
            <ul class=" flex gap-x-2 flex-row mb-2">
                {tags.map((tag) => (
                    <li>
                        <span class={`flex items-center gap-2 rounded-full text-sm py-1 px-2 ${tag.class}`}>
                            <tag.icon class="size-4"/>
                            {tag.name}
                        </span>
                    </li>
                ))}
            </ul>
            <img 
                class="rounded " 
                src={image} 
                alt="Proyecto Cinco Impro">
        </article>
    ))
}
