---
import htmlIcon from "./icons/technologies/Html.astro";
import cssIcon from "./icons/technologies/Css.astro";
import jsIcon from "./icons/technologies/JavaScript.astro";
import tailwindIcon from "./icons/technologies/Tailwind.astro";
import reactIcon from "./icons/technologies/React.astro";
import dockerIcon from "./icons/technologies/Docker.astro";
import awsIcon from "./icons/technologies/Aws.astro";
import astroIcon from "./icons/technologies/Astro.astro";
import nextIcon from "./icons/technologies/Next.astro";
import expressIcon from "./icons/technologies/Express.astro";
import nodeIcon from "./icons/technologies/Node.astro";
import githubIcon from "./icons/technologies/Github.astro";
import internetIcon from "./icons/Internet.astro";

const TAGS = {
    HTML: {
        name: "HTML",
        // class: 'bg-[#A9D6E0] text-black border-[#575757] border-2',
        class: 'bg-[#575757] text-white',
        icon: htmlIcon,
    },
    CSS: {
        name: "CSS",
        class: 'bg-[#575757] text-white',
        icon: cssIcon,
    },
    JAVASCRIPT: {
        name: "JavaScript",
        class: "bg-[#575757] text-white",
        icon: jsIcon,
    },
    TAILWIND: {
        name: "Tailwind",
        class: "bg-[#575757] text-white",
        icon: tailwindIcon,
    },
    REACT: {
        name: "React",
        class: "bg-[#575757] text-white",
        icon: reactIcon,
    },
    DOCKER: {
        name: "Docker",
        class: "bg-[#575757] text-white",
        icon: dockerIcon,
    },
    AWS: {
        name: "AWS",
        class: "bg-[#575757] text-white",
        // class: 'bg-[#A9D6E0] text-black border-[#575757] border-2',
        icon: awsIcon,
    },
    ASTRO: {
        name: "Astro",
        class: "bg-[#575757] text-white",
        icon: astroIcon,
    },
    NEXT: {
        name: "Next.js",
        class: "bg-[#575757] text-white",
        icon: nextIcon,
    },
    EXPRESS: {
        name: "Express.js",
        class: "bg-[#575757] text-white",
        icon: expressIcon,
    },
    NODE: {
        name: "Node.js",
        class: "bg-[#575757] text-white",
        icon: nodeIcon,
    },
};

const PROJECTS = [
    {
        title: "Sitio web 5inco Impro",
        description:
            "Sitio web del grupo de improvisación teatral Cinco Impro.",
        link: "https://cincoimpro.com/",
        github: "https://github.com/suaviaparicio/5inco_React",
        image: "/projects/proyecto_cinco.webp",
        tags: [TAGS.HTML, TAGS.CSS, TAGS.REACT, TAGS.DOCKER, TAGS.AWS],
    },
    {
        title: "Sitio web 5inco Impro",
        description:
            "Sitio web del grupo de improvisación teatral Cinco Impro.",
        link: "https://cincoimpro.com/",
        github: "https://github.com/suaviaparicio/5inco_React",
        image: "/projects/proyecto_cinco.webp",
        tags: [TAGS.HTML, TAGS.CSS, TAGS.REACT, TAGS.DOCKER, TAGS.AWS],
    },
];
---

<div class="flex flex-col gap-y-16">
    {
        PROJECTS.map(({ title, description, link, github, image, tags }) => (
            <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
                <div>
                    <img
                        class="rounded mb-2"
                        src={image}
                        alt="Proyecto Cinco Impro"
                    />
                </div>
                <div class="w-full md:w-1/2">
                    <h2 class="text-2xl font-semibold mb-2">{title}</h2>
                    <p class="text-xl mb-4 text-pretty">{description}</p>
                    <a
                        class="mr-6"
                        href={link}
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <button class=" bg-[#A9D6E0] border-2 border-[#575757] rounded-[10px] shadow-[4px_4px_0_0_#575757] text-black cursor-pointer inline-block text-md px-4 leading-[30px] text-center select-none duration-300 hover:bg-white active:shadow-[2px_2px_0_0_#575757] active:translate-x-[2px] active:translate-y-[2px]">
                            <span class="flex items-center gap-2">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="size-4"
                                    viewBox="0 0 24 24"
                                >
                                    <g
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-width="1.5"
                                    >
                                        <>
                                            <path
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12s4.477 10 10 10"
                                            />
                                            <path
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                d="M13 2.05S16 6 16 12m-5 9.95S8 18 8 12s3-9.95 3-9.95M2.63 15.5H12m-9.37-7h18.74"
                                            />
                                            <path
                                                d="M21.879 17.917c.494.304.463 1.043-.045 1.101l-2.567.291l-1.151 2.312c-.228.459-.933.234-1.05-.334l-1.255-6.116c-.099-.48.333-.782.75-.525z"
                                                clip-rule="evenodd"
                                            />
                                        </>
                                    </g>
                                </svg>
                                Sitio web
                            </span>
                        </button>
                    </a>
                    <a
                        class=""
                        href={github}
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <button class=" bg-[#A9D6E0] border-2 border-[#575757] rounded-[10px] shadow-[4px_4px_0_0_#575757] text-black cursor-pointer inline-block text-md px-4 leading-[30px] text-center select-none duration-300 hover:bg-white active:shadow-[2px_2px_0_0_#575757] active:translate-x-[2px] active:translate-y-[2px]">
                            <span class="flex items-center gap-2">
                                <svg
                                    viewBox="0 0 256 250"
                                    class="size-4"
                                    fill="currentColor"
                                    xmlns="http://www.w3.org/2000/svg"
                                    preserveAspectRatio="xMidYMid"
                                >
                                    <path d="M128.001 0C57.317 0 0 57.307 0 128.001c0 56.554 36.676 104.535 87.535 121.46 6.397 1.185 8.746-2.777 8.746-6.158 0-3.052-.12-13.135-.174-23.83-35.61 7.742-43.124-15.103-43.124-15.103-5.823-14.795-14.213-18.73-14.213-18.73-11.613-7.944.876-7.78.876-7.78 12.853.902 19.621 13.19 19.621 13.19 11.417 19.568 29.945 13.911 37.249 10.64 1.149-8.272 4.466-13.92 8.127-17.116-28.431-3.236-58.318-14.212-58.318-63.258 0-13.975 5-25.394 13.188-34.358-1.329-3.224-5.71-16.242 1.24-33.874 0 0 10.749-3.44 35.21 13.121 10.21-2.836 21.16-4.258 32.038-4.307 10.878.049 21.837 1.47 32.066 4.307 24.431-16.56 35.165-13.12 35.165-13.12 6.967 17.63 2.584 30.65 1.255 33.873 8.207 8.964 13.173 20.383 13.173 34.358 0 49.163-29.944 59.988-58.447 63.157 4.591 3.972 8.682 11.762 8.682 23.704 0 17.126-.148 30.91-.148 35.126 0 3.407 2.304 7.398 8.792 6.14C219.37 232.5 256 184.537 256 128.002 256 57.307 198.691 0 128.001 0Zm-80.06 182.34c-.282.636-1.283.827-2.194.39-.929-.417-1.45-1.284-1.15-1.922.276-.655 1.279-.838 2.205-.399.93.418 1.46 1.293 1.139 1.931Zm6.296 5.618c-.61.566-1.804.303-2.614-.591-.837-.892-.994-2.086-.375-2.66.63-.566 1.787-.301 2.626.591.838.903 1 2.088.363 2.66Zm4.32 7.188c-.785.545-2.067.034-2.86-1.104-.784-1.138-.784-2.503.017-3.05.795-.547 2.058-.055 2.861 1.075.782 1.157.782 2.522-.019 3.08Zm7.304 8.325c-.701.774-2.196.566-3.29-.49-1.119-1.032-1.43-2.496-.726-3.27.71-.776 2.213-.558 3.315.49 1.11 1.03 1.45 2.505.701 3.27Zm9.442 2.81c-.31 1.003-1.75 1.459-3.199 1.033-1.448-.439-2.395-1.613-2.103-2.626.301-1.01 1.747-1.484 3.207-1.028 1.446.436 2.396 1.602 2.095 2.622Zm10.744 1.193c.036 1.055-1.193 1.93-2.715 1.95-1.53.034-2.769-.82-2.786-1.86 0-1.065 1.202-1.932 2.733-1.958 1.522-.03 2.768.818 2.768 1.868Zm10.555-.405c.182 1.03-.875 2.088-2.387 2.37-1.485.271-2.861-.365-3.05-1.386-.184-1.056.893-2.114 2.376-2.387 1.514-.263 2.868.356 3.061 1.403Z" />
                                </svg>
                                Código
                            </span>
                        </button>
                    </a>
                    <ul class=" flex gap-x-2 flex-row mt-6">
                        {tags.map((tag) => (
                            <li>
                                <span
                                    class={`flex items-center gap-2 rounded-full text-sm py-1 px-2 ${tag.class}`}
                                >
                                    <tag.icon class="size-4" />
                                    {tag.name}
                                </span>
                            </li>
                        ))}
                    </ul>
                </div>
            </article>
        ))
    }
</div>
